USE [master]
GO
/****** Object:  Database [LibraryManagement]    Script Date: 3/28/2025 10:34:10 PM ******/
CREATE DATABASE [LibraryManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryManagement', FILENAME = N'D:\SQL\MSSQL16.SQLEXPRESS01\MSSQL\DATA\LibraryManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryManagement_log', FILENAME = N'D:\SQL\MSSQL16.SQLEXPRESS01\MSSQL\DATA\LibraryManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryManagement]
GO
/****** Object:  Table [dbo].[author]    Script Date: 3/28/2025 10:34:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[author](
	[AuthorID] [int] IDENTITY(1,1) NOT NULL,
	[AuthorName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book]    Script Date: 3/28/2025 10:34:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[TypeID] [int] NULL,
	[AuthorID] [int] NULL,
	[PublisherID] [int] NULL,
	[Quantity] [int] NOT NULL,
	[description] [nvarchar](max) NULL,
	[total_borrow] [int] NULL,
	[imgpath] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bookborrow]    Script Date: 3/28/2025 10:34:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookborrow](
	[BorrowID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[BookID] [int] NULL,
	[BorrowDate] [date] NOT NULL,
	[ReturnDate] [date] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BorrowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[publisher]    Script Date: 3/28/2025 10:34:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[publisher](
	[PublisherID] [int] IDENTITY(1,1) NOT NULL,
	[PublisherName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PublisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 3/28/2025 10:34:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[type]    Script Date: 3/28/2025 10:34:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 3/28/2025 10:34:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[RoleID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[author] ON 

INSERT [dbo].[author] ([AuthorID], [AuthorName]) VALUES (2, N'Albert Einstein')
INSERT [dbo].[author] ([AuthorID], [AuthorName]) VALUES (8, N'Fyodor Dostoevsky')
INSERT [dbo].[author] ([AuthorID], [AuthorName]) VALUES (7, N'George Orwell')
SET IDENTITY_INSERT [dbo].[author] OFF
GO
SET IDENTITY_INSERT [dbo].[book] ON 

INSERT [dbo].[book] ([BookID], [Title], [TypeID], [AuthorID], [PublisherID], [Quantity], [description], [total_borrow], [imgpath]) VALUES (2, N'The Theory of Relativity', 1, 2, 2, 4, N'A revolutionary theory of space and time by Albert Einstein', 0, N'lib/img/imgbook/book2.jpg')
INSERT [dbo].[book] ([BookID], [Title], [TypeID], [AuthorID], [PublisherID], [Quantity], [description], [total_borrow], [imgpath]) VALUES (3, N'A Brief History of Time', 1, 3, 3, 3, N'Stephen Hawking’s exploration of cosmology and the universe', 0, N'lib/img/imgbook/book3.jpg')
INSERT [dbo].[book] ([BookID], [Title], [TypeID], [AuthorID], [PublisherID], [Quantity], [description], [total_borrow], [imgpath]) VALUES (4, N'Hamlet', 2, 4, 4, 7, N'A classic tragedy play by William Shakespeare', 0, N'lib/img/imgbook/book4.jpg')
SET IDENTITY_INSERT [dbo].[book] OFF
GO
SET IDENTITY_INSERT [dbo].[bookborrow] ON 

INSERT [dbo].[bookborrow] ([BorrowID], [UserID], [BookID], [BorrowDate], [ReturnDate], [Status]) VALUES (2, 1, 24, CAST(N'2025-03-27' AS Date), CAST(N'2025-04-06' AS Date), N'Returned')
INSERT [dbo].[bookborrow] ([BorrowID], [UserID], [BookID], [BorrowDate], [ReturnDate], [Status]) VALUES (3, 1, 24, CAST(N'2025-03-27' AS Date), CAST(N'2025-04-06' AS Date), N'Returned')
INSERT [dbo].[bookborrow] ([BorrowID], [UserID], [BookID], [BorrowDate], [ReturnDate], [Status]) VALUES (4, 1, 29, CAST(N'2025-03-31' AS Date), CAST(N'2025-04-10' AS Date), N'Returned')
SET IDENTITY_INSERT [dbo].[bookborrow] OFF
GO
SET IDENTITY_INSERT [dbo].[publisher] ON 

INSERT [dbo].[publisher] ([PublisherID], [PublisherName]) VALUES (2, N'Cambridge University Press')
INSERT [dbo].[publisher] ([PublisherID], [PublisherName]) VALUES (8, N'Hachette Livre')
INSERT [dbo].[publisher] ([PublisherID], [PublisherName]) VALUES (3, N'HarperCollins')
SET IDENTITY_INSERT [dbo].[publisher] OFF
GO
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([RoleID], [RoleName]) VALUES (2, N'admin')
INSERT [dbo].[role] ([RoleID], [RoleName]) VALUES (1, N'customer')
SET IDENTITY_INSERT [dbo].[role] OFF
GO
SET IDENTITY_INSERT [dbo].[type] ON 

INSERT [dbo].[type] ([TypeID], [TypeName]) VALUES (10, N'Art')
INSERT [dbo].[type] ([TypeID], [TypeName]) VALUES (8, N'Economics')
INSERT [dbo].[type] ([TypeID], [TypeName]) VALUES (6, N'Fiction')
SET IDENTITY_INSERT [dbo].[type] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([UserID], [Username], [PasswordHash], [FullName], [Email], [RoleID]) VALUES (1, N'khakham', N'12312312', N'Trần Tấn Khá', N'pvpgammingpro@gmail.com', 1)
INSERT [dbo].[user] ([UserID], [Username], [PasswordHash], [FullName], [Email], [RoleID]) VALUES (4, N'admin', N'123456', N'Administrator', N'admin@email.com', 2)
SET IDENTITY_INSERT [dbo].[user] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__author__4A1A120BB0A2C614]    Script Date: 3/28/2025 10:34:10 PM ******/
ALTER TABLE [dbo].[author] ADD UNIQUE NONCLUSTERED 
(
	[AuthorName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__publishe__5F0E2249BD40241B]    Script Date: 3/28/2025 10:34:10 PM ******/
ALTER TABLE [dbo].[publisher] ADD UNIQUE NONCLUSTERED 
(
	[PublisherName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__role__8A2B6160A4D6264F]    Script Date: 3/28/2025 10:34:10 PM ******/
ALTER TABLE [dbo].[role] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__type__D4E7DFA8B46C2C22]    Script Date: 3/28/2025 10:34:10 PM ******/
ALTER TABLE [dbo].[type] ADD UNIQUE NONCLUSTERED 
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__user__536C85E458567B3C]    Script Date: 3/28/2025 10:34:10 PM ******/
ALTER TABLE [dbo].[user] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[book] ADD  DEFAULT ((0)) FOR [total_borrow]
GO
ALTER TABLE [dbo].[book]  WITH CHECK ADD FOREIGN KEY([AuthorID])
REFERENCES [dbo].[author] ([AuthorID])
GO
ALTER TABLE [dbo].[book]  WITH CHECK ADD FOREIGN KEY([PublisherID])
REFERENCES [dbo].[publisher] ([PublisherID])
GO
ALTER TABLE [dbo].[book]  WITH CHECK ADD FOREIGN KEY([TypeID])
REFERENCES [dbo].[type] ([TypeID])
GO
ALTER TABLE [dbo].[bookborrow]  WITH CHECK ADD FOREIGN KEY([BookID])
REFERENCES [dbo].[book] ([BookID])
GO
ALTER TABLE [dbo].[bookborrow]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[user] ([UserID])
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[role] ([RoleID])
GO
ALTER TABLE [dbo].[book]  WITH CHECK ADD CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[bookborrow]  WITH CHECK ADD CHECK  (([Status]='Overdue' OR [Status]='Returned' OR [Status]='Approved' OR [Status]='Pending'))
GO
USE [master]
GO
